*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: repeat(6,1fr);
    border: 2px solid black;
    height: 500px;
}
.row1{
    border: 2px solid red;
    grid-row: 1/2;
    grid-column: 1/13;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
.left{
    display: flex;
    justify-content: space-around;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row2{
    border: 2px solid red;
    grid-row: 2/3;
    grid-column: 1/13;
    background-color: rgb(149, 17, 17);
    border: 2px solid rgb(0, 255, 166);
}
.row3{
    grid-row: 3/4;
    grid-column: 1/13;
    background-color: rgb(59, 206, 26);
    border: 2px solid rgb(21, 0, 255);
}
#img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;

}
.row4{
    grid-row: 4/5;
    grid-column: 1/13;
    background-color: rgb(140, 201, 126);
    border: 2px solid rgb(21, 0, 255);
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: auto auto; */
    /* margin-top: 220px; */
    flex-wrap: wrap;
}
.box{
    border: 2px solid rgb(153, 82, 51);
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background-color: rgb(175, 245, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

#box1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
}
.box11{
    /* border: 2px solid red; */
}

#img1{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    
}