.container{
  border: 2px solid black;
  width: 300px;
  height: 400px;
  margin: 0 auto ;

}

.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 13px;
}
.img{
  border-radius: 50%;
}

.container1{
  /* border: 3px solid red; */

}