*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
  width: 100%;
  border: 1px solid black;
  padding: 20px 50px;
  background-color: #deb887;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}
.question{
  margin-bottom: 20px;
}
.container{
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  margin: auto;
}
.main-container{
  margin-left: 50px;
  font-size: 2rem;
}
.btn-section{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.btn1{
  margin-right: 10px;
  width: 60px;
  height: 35px;
  text-decoration: none;
  background-color:blue ;
  color: white;
  border: none;
  border-radius: 5px;

}
.btn2{
  margin-right: 10px;
  width: 60px;
  height: 35px;
  text-decoration: none;
  background-color:green ;
  color: white;
  border: none;
  border-radius: 5px;

}
.btn-submit{
  margin-right: 10px;
  width: 60px;
  height: 35px;
  text-decoration: none;
  background-color:red ;
  color: white;
  border: none;
  border-radius: 5px;

}